header {
    background: #BBBBBB;
    padding: 20px; ;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position:absolute;
    right: 110;
    top: 0;
}


nav li {
    display: inline;
    margin: 0 0 0 15px;
}


nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.productos{
    width: 940px;
    margin: 0;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30;
    vertical-align: top;
    
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.producto-descripcion{
 font-size: 18px;
}
.producto-precio{
    font-size: 30px;
    font-weight: bold;
}